<!doctype html>
<html lang="en">
  <head>
    <title>Django_with_mongodb_crud</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <form method='POST'>
        {% csrf_token %}
        {{ form }}
        <center><br></center>
        

        <center> <input type='submit' value='submit'></center>
        <br>
        <br>
          </form>
    <table class='table table-striped'>
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Opreation</th>
            <th scope="col">Opreation</th>

          </tr>
        </thead>
        {% for i in data %}
        <tbody>
          <tr>
            <td>{{i.Id}}</td>
            <td>{{i.Name}}</td>
            <td>{{i.Age}}</td>
            <td>{{i.Email}}</td>
            <td>{{i.Phone}}</td>
            <td>{{i.Address}}</td>
            <td><a href ="{% url 'update' i.Name %}">UPDATE</a></td>
            <td><a href ="{% url 'delete' i.Name %}">DELETE</a></td> 
        </tr>
        </tbody>
        {% endfor %}
      </table>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

